<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291768854771-2uungda8euenqktkoqekumenpoottg61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291768854771-2uungda8euenqktkoqekumenpoottg61</string>
	<key>API_KEY</key>
	<string>AIzaSyCN5w3xBwAG5-RXS9l6EYZifEVMWbNpP4s</string>
	<key>GCM_SENDER_ID</key>
	<string>291768854771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>temple-86263</string>
	<key>STORAGE_BUCKET</key>
	<string>temple-86263.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291768854771:ios:40445f88e4af8ed6f5ef86</string>
</dict>
</plist>